.z-form
  margin-top 100px
  padding 50px
  border 1px solid lightblue
  border-radius 10px
  box-shadow 0 0 3px 5px lightgray

.error-block
  padding 10px
  border 1px solid lightgray
  border-radius 5px

.z-header
  padding 5px
  background lightgray

.z-table
  margin 50px auto
  width 60%
  border 1px solid lightgray
